@{
    ViewBag.Title = "Essential Oil Blends";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>

<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
    <thead>
        <tr>
            <th>Alphabetical A-Z</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">A</th>
        </tr>
        <tr>
            <td>Abundance</td>
        </tr>
        <tr>
            <td>Acceptance</td>
        </tr>
        <tr>
            <td>Aroma Life</td>
        </tr>
        <tr>
            <td>Aroma Siez</td>
        </tr>
        <tr>
            <td>Aromaease</td>
        </tr>
        <tr>
            <td>Australian Blue</td>
        </tr>
        <tr>
            <td>Australian Kuranya</td>
        </tr>
        <tr>
            <td>Awaken</td>
        </tr>
        <tr>
            <th scope="row">B</th>
        </tr>
        <tr>
            <td>Believe</td>
        </tr>
        <tr>
            <td>Blue Tansy</td>
        </tr>
        <tr>
            <td>Brain Power</td>
        </tr>
        <tr>
            <th scope="row">C</th>
        </tr>
        <tr>
            <td>Celebration</td>
        </tr>
        <tr>
            <td>Christmas Spirit</td>
        </tr>
        <tr>
            <td>Citrus Fresh</td>
        </tr>
        <tr>
            <td>Clarity</td>
        </tr>
        <tr>
            <td>Common Sense</td>
        </tr>
        <tr>
            <td>Cool Azul</td>
        </tr>
        <tr>
            <th scope="row">D</th>
        </tr>
        <tr>
            <td>Digize</td>
        </tr>
        <tr>
            <td>Dragon Time</td>
        </tr>
        <tr>
            <td>Dream Catcher</td>
        </tr>
        <tr>
            <th scope="row">E</th>
        </tr>
        <tr>
            <td>En-R-Gee</td>
        </tr>
        <tr>
            <td>EndoFlex</td>
        </tr>
        <tr>
            <td>Envision</td>
        </tr>
        <tr>
            <td>Exodus II</td>
        </tr>
        <tr>
            <th scope="row">F</th>
        </tr>
        <tr>
            <td>Forgiveness</td>
        </tr>
        <tr>
            <td>Freedom</td>
        </tr>
        <tr>
            <th scope="row">G</th>
        </tr>
        <tr>
            <td>Gary's Light</td>
        </tr>
        <tr>
            <td>Gathering</td>
        </tr>
        <tr>
            <td>Gentle Baby</td>
        </tr>
        <tr>
            <td>GLF</td>
        </tr>
        <tr>
            <td>Gratitude</td>
        </tr>
        <tr>
            <td>Grounding</td>
        </tr>
        <tr>
            <th scope="row">H</th>
        </tr>
        <tr>
            <td>Harmony</td>
        </tr>
        <tr>
            <td>Higher Unity</td>
        </tr>
        <tr>
            <td>Highest Potential</td>
        </tr>
        <tr>
            <td>Hope</td>
        </tr>
        <tr>
            <td>Humility</td>
        </tr>
        <tr>
            <th scope="row">I</th>
        </tr>
        <tr>
            <td>Immupower</td>
        </tr>
        <tr>
            <td>Inner Child</td>
        </tr>
        <tr>
            <td>Into the Future</td>
        </tr>
        <tr>
            <th scope="row">J</th>
        </tr>
        <tr>
            <td>Journey On</td>
        </tr>
        <tr>
            <td>Joy</td>
        </tr>
        <tr>
            <td>Juva Cleanse</td>
        </tr>
        <tr>
            <td>JuvaFlex</td>
        </tr>
        <tr>
            <th scope="row">K</th>
        </tr>
        <tr>
            <th scope="row">L</th>
        </tr>
        <tr>
            <td>Lady Sclareol</td>
        </tr>
        <tr>
            <td>Longevity</td>
        </tr>
        <tr>
            <th scope="row">M</th>
        </tr>
        <tr>
            <td>M-Grain</td>
        </tr>
        <tr>
            <td>Magnify Your Purpose</td>
        </tr>
        <tr>
            <td>Melrose</td>
        </tr>
        <tr>
            <td>Mister</td>
        </tr>
        <tr>
            <td>Motivation</td>
        </tr>
        <tr>
            <th scope="row">N</th>
        </tr>
        <tr>
            <th scope="row">O</th>
        </tr>
        <tr>
            <td>One Heart</td>
        </tr>
        <tr>
            <th scope="row">P</th>
        </tr>
        <tr>
            <td>Panaway</td>
        </tr>
        <tr>
            <td>Peace and Calming</td>
        </tr>
        <tr>
            <td>Peace and Calming II</td>
        </tr>
        <tr>
            <td>Present Time</td>
        </tr>
        <tr>
            <td>Purification</td>
        </tr>
        <tr>
            <th scope="row">Q</th>
        </tr>
        <tr>
            <th scope="row">R</th>
        </tr>
        <tr>
            <td>R.C.</td>
        </tr>
        <tr>
            <td>Raven</td>
        </tr>
        <tr>
            <td>Release</td>
        </tr>
        <tr>
            <td>Rutavala</td>
        </tr>
        <tr>
            <th scope="row">S</th>
        </tr>
        <tr>
            <td>Sacred Mountain</td>
        </tr>
        <tr>
            <td>Sara</td>
        </tr>
        <tr>
            <td>Sclaressense</td>
        </tr>
        <tr>
            <td>Seedlings Calm</td>
        </tr>
        <tr>
            <td>Sensation</td>
        </tr>
        <tr>
            <td>Shutran</td>
        </tr>
        <tr>
            <td>Stress Away</td>
        </tr>
        <tr>
            <td>Surrender</td>
        </tr>
        <tr>
            <th scope="row">T</th>
        </tr>
        <tr>
            <td>Thieves</td>
        </tr>
        <tr>
            <td>Transformation</td>
        </tr>
        <tr>
            <td>Trauma Life</td>
        </tr>
        <tr>
            <th scope="row">U</th>
        </tr>
        <tr>
            <th scope="row">V</th>
        </tr>
        <tr>
            <td>Valor</td>
        </tr>
        <tr>
            <th scope="row">W</th>
        </tr>
        <tr>
            <td>White Angelica</td>
        </tr>
        <tr>
            <th scope="row">X</th>
        </tr>
        <tr>
            <th scope="row">Y</th>
        </tr>
        <tr>
            <th scope="row">Z</th>
        </tr>

    </tbody>
</table>