@{
    ViewBag.Title = "Home";
}

<div class="container" >
    <p class="text-center"><img src="https://i.ibb.co/pZ1J8ht/Oily-Guide-Logo-1.png" alt="Oily-Guide-Logo" border="0"></p>
    <p class="text-center">This ultimate guide to all Young Living essential oils.</p>
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The form -->
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search" width="900">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<img src="http://www.thrivetriberi.com/wp-content/uploads/2019/09/thrive-tribe-rhode-island-essential-oils-banner.jpg" width="1100" height="180"/>
<div class="footer" >
    <div class="col-md-4">
        <h3>Getting started</h3>
        <p>
            Everything you need to know about getting started with essential oils.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>How to</h3>
        <p>Get creative with your oils! Learn all of the ways to get the most out of your essential oils.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Our community</h3>
        <p>Get involved in our oily community.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>