@{
    ViewBag.Title = "Essential Oil Singles";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>


<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
    <thead>
        <tr>
            <th>Alphabetical A-Z</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">A</th>
        </tr>
        <tr>
            <td>Angelica</td>
        </tr>
        <tr>
            <td>Austrialian Ericifolia</td>
        </tr>
        <tr>
            <th scope="row">B</th>
        </tr>
        <tr>
            <td>Basil</td>
        </tr>
        <tr>
            <td>Bergamot</td>
        </tr>
        <tr>
            <td>Black Pepper</td>
        </tr>
        <tr>
            <td>Blue Cypress</td>
        </tr>
        <tr>
            <td>Blue Tansy</td>
        </tr>
        <tr>
            <th scope="row">C</th>
        </tr>
        <tr>
            <td>Cardamom</td>
        </tr>
        <tr>
            <td>Carrot Seed</td>
        </tr>
        <tr>
            <td>Cedarwood</td>
        </tr>
        <tr>
            <td>Cinnamon Bark</td>
        </tr>
        <tr>
            <td>Cistus</td>
        </tr>
        <tr>
            <td>Citronella</td>
        </tr>
        <tr>
            <td>Clary Sage</td>
        </tr>
        <tr>
            <td>Clove</td>
        </tr>
        <tr>
            <td>Copaiba</td>
        </tr>
        <tr>
            <td>Cypress</td>
        </tr>
        <tr>
            <th scope="row">D</th>
        </tr>
        <tr>
            <td>Davana</td>
        </tr>
        <tr>
            <td>Dill</td>
        </tr>
        <tr>
            <td>Dorado Azul</td>
        </tr>
        <tr>
            <th scope="row">E</th>
        </tr>
        <tr>
            <td>Ecuadorian Oregano</td>
        </tr>
        <tr>
            <td>Elemi</td>
        </tr>
        <tr>
            <td>Eucalyptus Blue</td>
        </tr>
        <tr>
            <td>Eucalyptus Globulus</td>
        </tr>
        <tr>
            <td>Eucalyptus Radiata</td>
        </tr>
        <tr>
            <th scope="row">F</th>
        </tr>
        <tr>
            <td>Fennel</td>
        </tr>
        <tr>
            <td>Frankincense</td>
        </tr>
        <tr>
            <th scope="row">G</th>
        </tr>
        <tr>
            <td>Geranium</td>
        </tr>
        <tr>
            <td>German Chamomile</td>
        </tr>
        <tr>
            <td>Ginger</td>
        </tr>
        <tr>
            <td>Goldenrod</td>
        </tr>
        <tr>
            <td>Grapefruit</td>
        </tr>
        <tr>
            <th scope="row">H</th>
        </tr>
        <tr>
            <td>Helichrysum</td>
        </tr>
        <tr>
            <td>Hinoki</td>
        </tr>
        <tr>
            <td>Hong Kuai</td>
        </tr>
        <tr>
            <td>Hyssop</td>
        </tr>
        <tr>
            <th scope="row">I</th>
        </tr>
        <tr>
            <td>Idaho Blue Spruce</td>
        </tr>
        <tr>
            <td>Idaho Grand Fir</td>
        </tr>
        <tr>
            <th scope="row">J</th>
        </tr>
        <tr>
            <td>Jade Lemon</td>
        </tr>
        <tr>
            <td>Jasmine</td>
        </tr>
        <tr>
            <td>Juniper</td>
        </tr>
        <tr>
            <th scope="row">K</th>
        </tr>
        <tr>
            <td>Kunzea</td>
        </tr>
        <tr>
            <th scope="row">L</th>
        </tr>
        <tr>
            <td>Lavender</td>
        </tr>
        <tr>
            <td>Ledum</td>
        </tr>
        <tr>
            <td>Lemon</td>
        </tr>
        <tr>
            <td>Lemon Myrtle</td>
        </tr>
        <tr>
            <td>Lemon Verbena</td>
        </tr>
        <tr>
            <td>Lemongrass</td>
        </tr>
        <tr>
            <td>Lime</td>
        </tr>
        <tr>
            <th scope="row">M</th>
        </tr>
        <tr>
            <td>Manuka</td>
        </tr>
        <tr>
            <td>Marjoram</td>
        </tr>
        <tr>
            <td>Mastrante</td>
        </tr>
        <tr>
            <td>Melaleuca Quinquenervia</td>
        </tr>
        <tr>
            <td>Melissa</td>
        </tr>
        <tr>
            <td>Myrrh</td>
        </tr>
        <tr>
            <td>Myrtle</td>
        </tr>
        <tr>
            <th scope="row">N</th>
        </tr>
        <tr>
            <td>Neroli</td>
        </tr>
        <tr>
            <td>Northern Lights Black Spruce</td>
        </tr>
        <tr>
            <td>Nutmeg</td>
        </tr>
        <tr>
            <th scope="row">O</th>
        </tr>
        <tr>
            <td>Ocotea</td>
        </tr>
        <tr>
            <td>Orange</td>
        </tr>
        <tr>
            <td>Oregano</td>
        </tr>
        <tr>
            <th scope="row">P</th>
        </tr>
        <tr>
            <td>Palmarosa</td>
        </tr>
        <tr>
            <td>Palo Santo</td>
        </tr>
        <tr>
            <td>Patchouli</td>
        </tr>
        <tr>
            <td>Peppermint</td>
        </tr>
        <tr>
            <td>Petitgrain</td>
        </tr>
        <tr>
            <td>Pine</td>
        </tr>
        <tr>
            <th scope="row">Q</th>
        </tr>
        <tr>
            <th scope="row">R</th>
        </tr>
        <tr>
            <td>Ravintsara</td>
        </tr>
        <tr>
            <td>Roman Chamomile</td>
        </tr>
        <tr>
            <td>Rose</td>
        </tr>
        <tr>
            <td>Rosemary</td>
        </tr>
        <tr>
            <td>Royal Hawaiian Sandalwood</td>
        </tr>
        <tr>
            <th scope="row">S</th>
        </tr>
        <tr>
            <td>Sacred Frankincense</td>
        </tr>
        <tr>
            <td>Sacred Sandalwood</td>
        </tr>
        <tr>
            <td>Sage</td>
        </tr>
        <tr>
            <td>Spearmint</td>
        </tr>
        <tr>
            <th scope="row">T</th>
        </tr>
        <tr>
            <td>Tangerine</td>
        </tr>
        <tr>
            <td>Tea Tree</td>
        </tr>
        <tr>
            <td>Thyme</td>
        </tr>
        <tr>
            <td>Tsuga</td>
        </tr>
        <tr>
            <th scope="row">U</th>
        </tr>
        <tr>
            <th scope="row">V</th>
        </tr>
        <tr>
            <td>Valerian</td>
        </tr>
        <tr>
            <td>Vetiver</td>
        </tr>
        <tr>
            <th scope="row">W</th>
        </tr>
        <tr>
            <td>Wintergreen</td>
        </tr>
        <tr>
            <th scope="row">X</th>
        </tr>
        <tr>
            <td>Xiang Mao</td>
        </tr>
        <tr>
            <th scope="row">Y</th>
        </tr>
        <tr>
            <td>Ylang Ylang</td>
        </tr>
        <tr>
            <th scope="row">Z</th>
        </tr>

    </tbody>
</table>